{% load staticfiles %}
<html>
    <head>
        <title>Overview</title>
        <link rel="stylesheet" href="{{STATIC_URL}}static/css/base.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    </head>
    <body>

        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Published Date</th>
                <th>Content</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.published_date }}</td>
                <td>{{ post.content }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
</html>